___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [ ]:
1 + 1

In [ ]:
1 * 3

In [ ]:
1 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

### Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of other quotes"

### Printing

In [ ]:
x = 'hello'

In [ ]:
x

In [ ]:
print(x)

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))
print('My number is: {}, and my name is: {}'.format(num,name))
print(f'My name is {name} and my number is {num}')

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

### Slice

In [25]:
s = 'hello'

In [26]:
s['e':]

TypeError: slice indices must be integers or None or have an __index__ method

In [ ]:
s[4]

In [ ]:
s[0:]

In [ ]:
s[:3]

In [ ]:
s[0:3]

In [ ]:
s[1:4]

### Lists

In [ ]:
[1,2,3]

In [ ]:
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list[0] = 3

In [ ]:
my_list

In [ ]:
nest = (1,2,[3,4])

In [ ]:
nest[2]

In [ ]:
nest[2][0] = 5 #there is a list inside a list

In [ ]:
my_list.append('d')

In [ ]:
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[1:]

In [ ]:
my_list[:1]

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

### Dictionaries

In [ ]:
d = {'key1':'item1','key2':1234}

In [ ]:
d

In [ ]:
d['key1']

In [ ]:
d['key2']

In [27]:
d = {'k1':[1,2,3]}

In [ ]:
d['k1']

In [28]:
k = d['k1'][2]
k

3

In [ ]:
d = {'k1':{'innerkey':[1,2,3]}}

In [ ]:
d['k1']['innerkey'][1]

### Booleans

In [ ]:
True

In [ ]:
False

### Tuples

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

In [ ]:
t[0] = 'NEW' # tuples are immutable

### Sets

In [ ]:
{1,2,3}

In [ ]:
s = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2} # Unique elements

In [ ]:
s.add(5)

In [ ]:
s

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [ ]:
if 1 < 2:
    print('Yep!')

In [ ]:
if 1 < 2:
    print('yep!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
elif 4 == 4:
    print('last')
else:
    print('Last')

## for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('Yep')

In [ ]:
for jelly in seq:
    print(jelly+jelly)

## while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

## range()

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

## list comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

In [ ]:
[item**2 for item in x]

## functions

In [ ]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func('new param')

In [ ]:
my_func(param1='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

## lambda expressions

In [ ]:
def times2(var):
    return var*2

In [8]:
def times2(var): return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

## map and filter

In [6]:
seq = [1,2,3,4,5]

In [9]:
map(times2,seq) # Map function is used to apply a function to all the items in an input_list.

In [10]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [11]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [12]:
filter(lambda item: item%2 == 0,seq)

In [13]:
list(filter(lambda item: item%2 == 0,seq)) # Filter function is used to filter out elements from a list that don't satisfy certain criteria.

[2, 4]

## methods

In [14]:
st = 'hello my name is David'

In [15]:
st.lower()

'hello my name is david'

In [16]:
st.upper()

'HELLO MY NAME IS DAVID'

In [17]:
st.split()

['hello', 'my', 'name', 'is', 'David']

In [20]:
tweet = 'Go Sports! #Sports #HELLO'

In [21]:
tweet.split('#')

['Go Sports! ', 'Sports ', 'HELLO']

In [23]:
tweet.split('#')[0]

'Go Sports! '

In [24]:
d

NameError: name 'd' is not defined

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

In [5]:
'x' in [1,2,3]

False

In [1]:
'x' in ['x','y','z']

True

In [2]:
x = [(1,2),(3,4),(5,6)]

In [3]:
x[0][1]

2

In [4]:
for (a,b) in x:
    print(b)

2
4
6

# Great Job!