___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [3]:
from numpy.random import randn
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4),['A', 'B','C','D','E'] ,['W','X','Y','Z'])

In [5]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [7]:
df['Z']

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: Z, dtype: float64

In [9]:
type(df['Z'])
type(df)

pandas.core.frame.DataFrame

In [11]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [10]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [12]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

DataFrame Columns are just Series

In [13]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [19]:
df['New'] = df['W']

In [20]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  2.706850
B  0.651118 -0.319318 -0.848077  0.605965  0.651118
C -2.018168  0.740122  0.528813 -0.589001 -2.018168
D  0.188695 -0.758872 -0.933237  0.955057  0.188695
E  0.190794  1.978757  2.605967  0.683509  0.190794

** Removing Columns**

In [22]:
df.drop('New', axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [26]:
# Not inplace unless specified!
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  2.706850
B  0.651118 -0.319318 -0.848077  0.605965  0.651118
C -2.018168  0.740122  0.528813 -0.589001 -2.018168
D  0.188695 -0.758872 -0.933237  0.955057  0.188695
E  0.190794  1.978757  2.605967  0.683509  0.190794

In [28]:
df.drop('New',axis=1,inplace=True) # inplace=True means that it will be done in place

In [29]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Can also drop rows this way:

In [30]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [31]:
df.drop('E',axis=0,inplace=True)

In [32]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [34]:
df['New'] = df['W'] + df['Y']

In [35]:
df.shape # Look the index

(4, 5)

In [36]:
df['Y']

A    0.907969
B   -0.848077
C    0.528813
D   -0.933237
Name: Y, dtype: float64

** Selecting Rows**

In [38]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542

In [37]:
df.loc['A']

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
New    3.614819
Name: A, dtype: float64

Or select based off of position instead of label

In [39]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542

In [40]:
df.iloc[2]

W     -2.018168
X      0.740122
Y      0.528813
Z     -0.589001
New   -1.489355
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [41]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542

In [42]:
df.loc['B','Y']

-0.8480769834036315

In [44]:
df.iloc[1,2]

-0.8480769834036315

In [45]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [48]:
df.drop('New',axis=1, inplace=True)

KeyError: "['New'] not found in axis"

In [49]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [50]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True

In [51]:
booldf = df>0

In [52]:
booldf

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True

In [53]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057

In [54]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057

In [55]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [56]:
df['W']>0

A     True
B     True
C    False
D     True
Name: W, dtype: bool

In [57]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
Name: W, dtype: float64

In [59]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [60]:
df[df['Z']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [64]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [62]:
df[df['W']>0]['X']

A    0.628133
B   -0.319318
D   -0.758872
Name: X, dtype: float64

In [65]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872

In [66]:
boolser = df['W']>0

In [67]:
boolser

A     True
B     True
C    False
D     True
Name: W, dtype: bool

In [68]:
result = df[boolser]

In [69]:
result

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [74]:
result[['Y', 'Y']]

          Y         Y
A  0.907969  0.907969
B -0.848077 -0.848077
D -0.933237 -0.933237

For two conditions you can use | and & with parenthesis:

In [78]:
df[(df['W']>0) & (df['Y'] > 0)] # & is the and operator

         W         X         Y         Z
A  2.70685  0.628133  0.907969  0.503826

In [81]:
df[(df['W']>0) & (df['Y'] > 0)]['Z']

A    0.503826
Name: Z, dtype: float64

In [83]:
df[(df['W']>0) | (df['Y'] > 0)] # or

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [84]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [85]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057

In [88]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [90]:
df.reset_index(inplace=True)

In [91]:
df

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057

In [95]:
newind = 'CA NY WY OR'.split()
newind

['CA', 'NY', 'WY', 'OR']

In [96]:
df['States'] = newind

In [98]:
df

  index         W         X         Y         Z States
0     A  2.706850  0.628133  0.907969  0.503826     CA
1     B  0.651118 -0.319318 -0.848077  0.605965     NY
2     C -2.018168  0.740122  0.528813 -0.589001     WY
3     D  0.188695 -0.758872 -0.933237  0.955057     OR

In [97]:
df.set_index('States')

       index         W         X         Y         Z
States
CA         A  2.706850  0.628133  0.907969  0.503826
NY         B  0.651118 -0.319318 -0.848077  0.605965
WY         C -2.018168  0.740122  0.528813 -0.589001
OR         D  0.188695 -0.758872 -0.933237  0.955057

In [99]:
df

  index         W         X         Y         Z States
0     A  2.706850  0.628133  0.907969  0.503826     CA
1     B  0.651118 -0.319318 -0.848077  0.605965     NY
2     C -2.018168  0.740122  0.528813 -0.589001     WY
3     D  0.188695 -0.758872 -0.933237  0.955057     OR

In [100]:
df.set_index('States',inplace=True)

In [101]:
df

       index         W         X         Y         Z
States
CA         A  2.706850  0.628133  0.907969  0.503826
NY         B  0.651118 -0.319318 -0.848077  0.605965
WY         C -2.018168  0.740122  0.528813 -0.589001
OR         D  0.188695 -0.758872 -0.933237  0.955057

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [6]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [9]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [10]:
df

             A         B
G1 1 -0.184660 -0.525368
   2  0.857670  0.570616
   3  0.141450 -0.601283
G2 1  1.863812  0.018826
   2  0.203054  0.433983
   3  1.858242 -2.187318

In [257]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.153661  0.167638
   2 -0.765930  0.962299
   3  0.902826 -0.537909
G2 1 -1.549671  0.435253
   2  1.259904 -0.447898
   3  0.266207  0.412580

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [12]:
df.loc['G1']

         A         B
1 -0.18466 -0.525368
2  0.85767  0.570616
3  0.14145 -0.601283

In [13]:
df.loc['G1'].loc[1]

A   -0.184660
B   -0.525368
Name: 1, dtype: float64

In [14]:
df.index.names

FrozenList([None, None])

In [15]:
df.index.names = ['Group', 'Number']

In [16]:
df

                     A         B
Group Number
G1    1      -0.184660 -0.525368
      2       0.857670  0.570616
      3       0.141450 -0.601283
G2    1       1.863812  0.018826
      2       0.203054  0.433983
      3       1.858242 -2.187318

In [20]:
df.loc['G2'].loc[2]['B']

0.4339834548947372

In [23]:
df.loc['G1'].loc[3,'A']

0.1414499038639224

In [25]:
df

                     A         B
Group Number
G1    1      -0.184660 -0.525368
      2       0.857670  0.570616
      3       0.141450 -0.601283
G2    1       1.863812  0.018826
      2       0.203054  0.433983
      3       1.858242 -2.187318

In [26]:
df.loc['G1']

              A         B
Number
1      -0.18466 -0.525368
2       0.85767  0.570616
3       0.14145 -0.601283

In [27]:
df.xs('G1')

              A         B
Number
1      -0.18466 -0.525368
2       0.85767  0.570616
3       0.14145 -0.601283

In [28]:
df.xs(['G1',1]) # xs is cross section

C:\Users\david\AppData\Local\Temp\ipykernel_12600\580597333.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df.xs(['G1',1])

A   -0.184660
B   -0.525368
Name: (G1, 1), dtype: float64

In [30]:
df.xs(1,level='Number')

              A         B
Group
G1    -0.184660 -0.525368
G2     1.863812  0.018826

# Great Job!